aipollo_processor/logs/
__pycache__/
aipollo_processor/detectors/rnn/data/
aipollo_processor/detectors/rnntorch/data/
aipollo_processor/detectors/unet_torch/data/
aipollo_processor/detectors/unet_torch/logs/
aipollo_processor/detectors/rnn/checkpoints/
aipollo_processor/detectors/rnn/tf_crnn/
aipollo_processor/detectors/unet-tf/
sample_scans/