aipollo_omr/logs/
__pycache__/
old/
aipollo_omr/detectors/unet_torch/data/
aipollo_omr/detectors/unet_torch/logs/
aipollo_web/scoreanalyzer/static/scoreanalyzer/debug_score_elements.json
sample_scans/
foobar.png
test_driver.py